/*
h1 {
  color: blueviolet;
}

h1::after {
  content: "!!!";
  color: aqua;
}

h1:hover::before {
  content: "!!!";
  color: rgb(81, 255, 0);
}

 Los seudo elementos solo se aplican a elementos no a seudo elementos, si puedo a estos ultimos aplicarles seudo clase*/
div {
  padding: 5px 10px;
  border: 10px solid rgb(74, 8, 112);
  background-color: aqua;
  border-radius: 10px;
  width: 100px;
  margin: 50px auto;
  position: relative;
}
div::after {
  content: "Esto es un tooltip";
  width: 150px;
  border: 10px solid rgb(238, 236, 240);
  background-color: black;
  color: aliceblue;
  padding: 5px;
  position: absolute;
  top: -35%;
  left: 80%;
  border-radius: 10px 10px 0 0;
  display: none;
}
div:hover::after {
  display: block;
  opacity: 1;
}

div:nth-child(2)::after {
  content: "Esto es un DJ 2";
}
div:nth-child(3)::after {
  content: "Esto es un tooltip 3";
}

div:nth-child(3):hover::after {
  display: block;
  opacity: 1;
}

.rr {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover::after {
  content: attr(data-color);
  color: red;
  background-color: blueviolet;
}

button:hover::before {
  content: attr(data-down);
  color: red;
}

/*El display none no se puede animar*/
